main{
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
    margin-left:5rem ;
    flex-wrap: wrap;
    gap: 3rem;

}
h3{
    text-align: center;
    margin-top:2rem;
    margin-bottom: 4rem; 
    text-decoration: underline;
    font-weight: 900;
}